#box{
    width: 100%;
    height: 100%;
    }
header. top_box {
    border: 1px
    width: 90%;
    height: 70px;
    background: #131921;
    font color : white;
    }
header. bottom_box {
    border: 1px
    width: 90%;
    height: 35px;
    background: #232F3E;
    font color : white;
    }